.mainfoto{
    width: 280px;
    height: 400px;
    position: relative;

    }
.topfoto {
    width: 1050px;
    height: 400px;
    position:absolute;
    margin-left: 290px;
    margin-top: 0px;
}
.graide{
    width: 800px;
    margin-left: 300px;
    margin-top: -280px;
}
.post{
    width: 100px;
    margin-left: 20px;
    margin-top: -10px;
}
#hobbies {
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
}

.thumb {
    border: 2px solid #dbd6e5; /* Рамка вокруг фотографии */
    padding: 10px; /* Расстояние от картинки до рамки */
    background: rgba(167, 154, 154, 0.87); /* Цвет фона */
    position: absolute;
    margin-left: 280px; /* Отступ справа */
    margin-top: -180px; /* Отступ снизу */
   }
